<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStateService" />
        <binding name="BasicHttpBinding_IRegionService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1/WCF/states.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IStateService" contract="StatesReference.IStateService"
        name="BasicHttpBinding_IStateService" />
      <endpoint address="http://127.0.0.1/WCF/regions.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRegionService" contract="RegionsReference.IRegionService"
        name="BasicHttpBinding_IRegionService" />
    </client>
  </system.serviceModel>
</configuration>